<li class={{this.styleNamespace}}>
  <div class='details'>
    <h2>
      {{this.movie.title}}
    </h2>
    <h3>
       {{#if this.movie.rating}}
        Movie Rating - (
        {{this.movie.rating}} / 5 )
       {{/if}}
    </h3>

    <p>
      {{this.movie.description}}
    </p>
    
<button type="button"{{on 'click' this.delete}}> Delete </button>

  </div>
</li>