<form class={{this.styleNamespace}} {{on 'submit' this.addMovie}}>
  <label id='movie-title'>
    Title
    <Input
      id='title-input'
      @type='text'
      @value={{this.title}}
      class='form-title'
      placeholder='Title..'
      required={{true}}
    />
  </label>

  <label id='movie-description'>
    Description
    <Input
      id='description-input'
      @type='text'
      @value={{this.description}}
      class='form-description'
      placeholder='Description..'
      required={{true}}
    />
  </label>


   <label>
    Rating
    <Input
      @value={{this.rating}}
      @type='number'
      class='form-rating'
      placeholder='Rating (0-5)'
      min="0"
      max="5"
      step=".5"
      required={{true}}
    />
  </label>


  
  {{#if this.errorMessage}}
    <div class='error-message'>
      {{this.errorMessage}}
    </div>
  {{/if}}

  <button type='submit'>
    Add Movie
  </button>
</form>